<div class="auth-container">
  <h3>Entrar</h3>

  <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="handleLogin()">
    
    <div class="form-group">
      <label for="loginEmail">Email</label>
      <input type="email" id="loginEmail" placeholder="seuemail@exemplo.com" formControlName="email">
    </div>

    <div class="form-group">
      <label for="loginPassword">Senha</label>
      <input type="password" id="loginPassword" placeholder="Sua senha" formControlName="password">
      <a href="#" class="forgot-password">Esqueceu sua senha?</a>
    </div>
    
    @if (loginError()) {
      <p class="error-message">{{ loginError() }}</p>
    }

    <button type="submit" class="submit-button" [disabled]="loginForm.invalid">Entrar</button>
  </form>

</div>