<header class="Topbar">
  <div class="topbar-content">
    
    <form class="search-container" (ngSubmit)="onSearchSubmit()">
      <img class="SearchIcon" src="../../assets/images/Lupa.png" alt="Ícone de pesquisa" />
      
      <input type="text" 
             class="SearchInput" 
             placeholder="Pesquise por um produto" 
             [(ngModel)]="searchTerm"
             name="search-term"
      />
      
      <button type="submit" style="display: none;"></button>
    </form>

    <a [routerLink]="['/']" class="logo-link">
      <img class="Logo" src="../../assets/images/Tag-N.png" alt="Logo principal" />
    </a>

    <div class="actions-container">
      
      <div class="icon-wrapper" (click)="onFavoritesClick()">
        <img src="../../assets/images/Favoritos.png" alt="Ícone de favoritos" />
        <span class="badge" *ngIf="favoritesCount() > 0">{{ favoritesCount() }}</span>
      </div>

      <div class="icon-wrapper" (click)="onCartClick()">
        <img src="../../assets/images/Sacola.png" alt="Ícone da sacola de compras"/>
        <span class="badge" *ngIf="cartService.totalItemsCount() > 0">{{ cartService.totalItemsCount() }}</span>
      </div>

      <div class="icon-wrapper" (click)="onProfileClick()">
        <img src="../../assets/images/Perfil.png" alt="Ícone do perfil de usuário" />
      </div>

    </div>
  </div>

  <hr class="Divider" />

  <nav class="navigation-menu">
    <a [routerLink]="['/category', 'correntes']" routerLinkActive="active-link">Correntes</a>
    <a [routerLink]="['/category', 'pulseiras']" routerLinkActive="active-link">Pulseiras</a>
    <a [routerLink]="['/category', 'escapulario']" routerLinkActive="active-link">Escapulários</a>
    <a [routerLink]="['/category', 'colares']" routerLinkActive="active-link">Colares</a>
    <a [routerLink]="['/category', 'aneis']" routerLinkActive="active-link">Anéis</a>
    <a [routerLink]="['/category', 'brincos']" routerLinkActive="active-link">Brincos</a>
    <a [routerLink]="['/category', 'pingentes']" routerLinkActive="active-link">Pingentes</a>
  </nav>
</header>