<section class="categories-section">
    <h2 class="section-title">Categorias</h2>
    <div class="categories-container">
      
      <div class="category-item">
        <a [routerLink]="['/category', 'pulseiras']">
          <img src="assets/images/Pulseira.png" alt="Categoria Pulseiras">
          <span class="category-title">Pulseiras</span>
        </a>
      </div>
  
      <div class="category-item">
        <a [routerLink]="['/category', 'escapulario']">
          <img src="assets/images/Escapulário.png" alt="Categoria Escapulários">
          <span class="category-title">Escapulários</span>
        </a>
      </div>
  
      <div class="category-item">
        <a [routerLink]="['/category', 'correntes']">
          <img src="assets/images/Correntes.png" alt="Categoria Correntes">
          <span class="category-title">Correntes</span>
        </a>
      </div>
  
    </div>
  </section>